#thirdimg{
    width: 900px;
    height: 900px;
    position: relative;
    right: 53%;
    bottom:10%;
    position: fixed;
    overflow: hidden !important;
    z-index: 1!important;
}

#secondimg{
  
    width: 550px;
    height: 410px;
    position: relative;
    right: 30%;
    z-index: 2!important;


}

#firstimg{
    width: 250px;
    height: 250px;
    z-index: 3!important;
    position: relative;
    top: 100%;
    right:5%;

}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
   

}

.row {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    justify-items: center;
    border-radius: 35px;
    background-color: white;



}

.container{
    display: flex;
    max-width: 1200px;
}

body{ /*the body is the accordion´s principal parent, so i think it must be a flex container so i can easily make the accordion centered, 
    so i set it to occupy the full height and width viewport, because if i dont do that, body will get the accordion's dimensions*/
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}


.accordion-item{
    border:none;
    border-bottom: .2px solid gray;;
}